/*Summary Page CSS: Start*/
.app-summary {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 20px;
    text-align: left;
}

.app-summary__title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #28a745;
    text-align: center;
}

.app-summary__section-title {
    margin: 20px 0 10px;
    border-bottom: 2px solid #28a745;
    padding-bottom: 5px;
    font-weight: bold;
}

.app-summary__section-title--h3 {
    font-size: 2rem;
    color: #6c757d;
}

.app-summary__section-title--h4 {
    font-size: 1.5rem;
    color: #495057;
}

/* List Styles */
.app-summary__list {
    list-style: none;
    padding: 0;
}

.app-summary__list-item {
    padding: 10px;
    margin-bottom: 8px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

.app-summary__list-item:hover {
    background-color: #f1f1f1;
    transform: translateY(-2px);
}

/* Button Styles */
.app-summary__button {
    margin-top: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
    border: none;
}

.app-summary__button--secondary {
    background-color: #6c757d;
    padding: 5px;
    border-radius: 5px;
}

@media (max-width: 576px) {
    body {
        padding: 10px;
    }

    .app-summary__title {
        font-size: 2rem;
    }

    .app-summary__section-title,
    .app-summary__section-title--h4 {
        font-size: 1.25rem;
    }

    .app-summary__list-item {
        font-size: 0.9rem;
    }
}

/*Summary Page CSS: End*/

/*Fridge Page CSS: Start*/
.app-fridge {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.app-fridge__button--top,.app-fridge__button--top:disabled  {
    background-color: #2d6b61;
    color: white;
    padding: 8px 10px;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    margin-right: 10px;
}

.app-fridge__button--top:hover {
    background-color: #2d6b61;
    color: white;
}

.app-fridge__header {
    display: flex;
    justify-content: end;
}

/* Form */
.app-fridge__card-title {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.app-fridge__button--close {
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.app-fridge__title {
    padding-top: 15px;
}

.app-fridge__add-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    background: linear-gradient(135deg, #f9f9f9, #ffffff);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border: 1px solid #e0e0e0;
    padding: 30px;
    z-index: 1000;
    border-radius: 15px;
}

.mb-3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.app-fridge__add-card label {
    display: block; 
    margin-bottom: 0.5rem; 
    font-size: 15px;
    padding-left: 2px;
}

.app-fridge__add-card .form-control,
.app-fridge__add-card .form-select {
    font-size: 15px;
}

.app-fridge__add-card,
.app-fridge__card-body {
    text-align: left;
}

.app-fridge__button--close {
    background-color: #f5f5f5;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.app-fridge__button--close:hover {
    background-color: #ddd;
}

.app-fridge__button--add {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    margin-left: 0px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    margin-right: 10px;
}

.app-fridge__button--add:hover {
    background-color: #45a049;
}

.app-fridge__error-message {
    color: red;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
}

/* Cards */
.app-fridge__filter-card {
    width: 100%;
    max-width: 220px;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: transform 0.3s;
    text-align: left;
}

.app-fridge__filter-card:hover {
    transform: translateY(-4px);
}

.app-fridge__expiring-soon {
    border: 2px solid red;
}

.app-fridge__expiry-date-expiring-soon {
    color: red !important;
}

.app-fridge__card-info {
    flex-grow: 1;
    margin-bottom: 10px;
}

.app-fridge__card-text {
    margin: 0;
    font-size: 13px;
    color: #555;
    margin-bottom: 10px;
}

.app-fridge__card-btn {
    margin-top: 5px;
    max-width: 190px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
}

.app-fridge__card {
    min-height: 150px;
}

/* Button container for horizontal layout */
.app-fridge__button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

/* Sort Button */
.appFridge__category-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.appFridge__sort-button {
    display: flex;
    outline: none;
}

.appFridge__button--sort {
    margin-left: 10px;
    outline: none;
    box-shadow: none;
    border: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-height: 35px;
}

.appFridge__button--sort:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Align labels at the top */
.appFridge__form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*Categorize items*/

.appFridge__category-title {
    display: inline-block;
    padding: 2px 5px;
    transition: background-color 0.3s;
}

.appFridge__category-title:hover {
    cursor: pointer;
}

.appFridge__category-header {
    margin: 20px 0;
    padding: 10px 15px;
    font-size: 1.2rem;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border-radius: 15px;
}

/*Fridge Page CSS: End*/
